/*NAVBAR*/
.navbar {
  background-color: #d5d5d5;
}

/*SIDEBAR*/
#sidebar {
  min-height: 100vh;
  width: 250px;
  background-color: #D5D5D5;
  transition: transform 0.3s ease;
}
#sidebar .accordion-button {
  background-color: #343434;
  color: rgb(255, 255, 255);
}
.sidebar-link {
  background-color: #bcbaba;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  display: block;
}
.sidebar-link:hover {
  background-color: #d5d5d5;
}

/*IMG USUARIO*/
.user-avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

/*BP*/
@media (max-width: 768px) {
  #sidebar {
    transform: translateX(-100%);
  }
  #sidebar.show {
    transform: translateX(0);
  }
}

/*CARRUSEL INICIO*/
.carousel-item img {
  width: 100%;
  height: 500px;          
  object-fit: cover;      
  object-position: center; 
  filter: contrast(0.8); 
}

/*BARRA BUSQUEDA INICIO*/
.search-bar-container {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  z-index: 10;
  display: flex;
}
.search-bar-container .form-control {
  border-radius: 20px 0 0 20px; 
  padding: 10px 20px;
  flex-grow: 1;
}
.search-bar-container .btn {
  border-radius: 0 20px 20px 0;
  padding: 10px 20px;
}

/*EXPLORAR CATALOGO INICIO*/
.explore-button {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.explore-button button {
  background-color: #d5d5d58a;
}

/*FOOTER*/
footer {
  background-color: #d5d5d5;
  color: black;
}
button.btn.btn-outline-dark:hover {
  background-color: #aeaeae;
}

/* EFECTO AUMENTO CATALOGO*/
.card {
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* EFECTO AUMENTO INICIO*/
.inicio img{
  transition: transform 0.3s; 
  border-radius: 10px;
}
.inicio img:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/*BORDER DE INPUT CANTIDAD EN PRODUCTO*/
.custom-input {
  border-color: #000000;
}

/*DETALLES CARRUSEL EN PRODUCTO*/
.carousel-inner-p img {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.carousel-inner-p img {
  border: 3px solid #d5d5d5;
  border-radius: 15px;
}

